@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'New Rocker';
	src: local('NewRocker'), url('../public/fonts/NewRockerRegular.otf') format('opentype');
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: local('IBMPlexMono'), url('../public/fonts/IBMPlexMonoRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'IBM Plex Mono Bold';
	src: local('IBMPlexMono'), url('../public/fonts/IBMPlexMonoBold.ttf') format('truetype');
}
@font-face {
	font-family: 'IBM Plex Mono Thin';
	src: local('IBMPlexMono'), url('../public/fonts/IBMPlexMonoThin.ttf') format('truetype');
}
@font-face {
	font-family: 'IBM Plex Mono Light';
	src: local('IBMPlexMono'), url('../public/fonts/IBMPlexMonoLight.ttf') format('truetype');
}
* *,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'IBM Plex Mono', 'Open Sans';
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	min-height: 100vh;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
	font-family: 'New Rocker', 'Open Sans';
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul[role='list'],
ol[role='list'],
li {
	list-style: none;
}

input[type='number'] {
	-moz-appearance: textfield !important;
}

html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	font-size: 16px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: #000;
	overscroll-behavior: contain;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	display: block;
}

button,
input,
textarea,
select {
	font: inherit;
}

button {
	cursor: pointer;
	border: none;
	background: transparent;
	user-select: none;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.1ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.1ms !important;
		scroll-behavior: auto !important;
	}
}

@layer components {
	.maxWidth {
		@apply max-w-[1440px] mx-auto w-full;
	}

	.bg-image {
		@apply bg-cover bg-center bg-no-repeat;
	}
	.bg-image-hero {
		@apply bg-cover bg-bottom bg-no-repeat;
	}
	.bg-image-footer {
		@apply bg-cover bg-top bg-no-repeat;
		/* background: linear-gradient(0deg, #2c6cae 0%, #2d347d 55.17%, #2e0452 100%); */
	}

	.flex-start-start {
		@apply flex items-start justify-start;
	}
	.flex-start-between {
		@apply flex items-start justify-between;
	}
	.flex-center-start {
		@apply flex items-center justify-start;
	}
	.flex-center-center {
		@apply flex items-center justify-center;
	}
	.flex-center-between {
		@apply flex items-center justify-between;
	}
	.flex-center-end {
		@apply flex items-center justify-end;
	}

	.translucent {
		background: rgba(0, 0, 0, 0.5);
	}
}

.check {
	border: 2px solid red;
}
